# Ignorer les fichiers temporaires Python et Jupyter
__pycache__/
*.pyc
.git

# Ignorer les checkpoints Jupyter
**/.ipynb_checkpoints/

# Ignorer les dossiers Figures et Documentation
Figures/
Documentation/
Database/


# Ignorer certains sous-dossiers dans Data
Data/data_intermediate/
Data/data_raw/
Data/GHG/
Data/Datasets/